<div id="second" class="container">
  <div id="ficciones" class="book">
    <div class="left-side"></div>
    <div class="right-side"></div>
    <div class="title">
      <img src="https://github.com/kbejko/book-covers/blob/gh-pages/assets/images/jlb.jpg" alt="Jorge Luis Borges" />
      <h1>Ficciones</h1>
    </div>
    <div class="author">
      <div class="first">
        <h3>Jorge</h3>
      </div>
      <div class="middle">
        <h3>Luis</h3>
      </div>
      <div class="last">
        <h1>Borges</h1>
      </div>
    </div>
  </div>
</div>
