<div id="third" class="container">
  <div id="post-office" class="book">
    <div class="ripped">
      <ul>
        <li id="first-line" class="line"></li>
        <li id="second-line" class="line"></li>
        <li id="third-line" class="line"></li>
        <li id="fourth-line" class="line"></li>
        <li id="fifth-line" class="line"></li>
        <li id="sixth-line" class="line"></li>
        <li id="seventh-line" class="line"></li>
        <li id="eigth-line" class="line"></li>
        <li id="nineth-line" class="line"></li>
        <li id="tenth-line" class="line"></li>
        <li id="eleventh-line" class="line"></li>
        <li id="twelveth-line" class="line"></li>
      </ul>
    </div>
    <div class="envelope">
      <div class="envelope-top"></div>
      <div class="envelope-left"></div>
      <div class="envelope-bottom"></div>
      <div class="envelope-fill-middle"></div>
      <div class="envelope-fill-middle-bottom"></div>
      <div class="envelope-fill-bottom"></div>
    </div>
    <div class="title">
      <h1>Post Office</h1>
    </div>
    <div class="subtitle">
      <h3>A Novel By Charles Bukowski</h3>
    </div>
    <div class="round-stamp">
        <span class="char1">I</span>
        <span class="char2">O</span>
        <span class="char3">W</span>
        <span class="char4">A</span>
        <span class="char5">C</span>
        <span class="char6">I</span>
        <span class="char7">T</span>
        <span class="char8">Y</span>
        <span class="char9">,</span>
        <span class="char10">I</span>
        <span class="char11">A</span>
        <span class="date">NOV 3</span>
        <span class="time">1970 PM</span>
        <span class="zip">52240</span>
    </div>
    <div class="address">
      <h5>Charles Bukowski De Longna Avenue Las Ang California</h5>
    </div>
    <div class="stamp">
      <div class="flag">
        <div class="blank">

        </div>
      </div>
    </div>
    <div class="line">
      <ul id="line1">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
        <li class="line4"></li>
        <li class="line5"></li>
      </ul>
      <ul id="line2">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
        <li class="line4"></li>
        <li class="line5"></li>
      </ul>
      <ul id="line3">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
        <li class="line4"></li>
        <li class="line5"></li>
      </ul>
      <ul id="line4">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
        <li class="line4"></li>
        <li class="line5"></li>
      </ul>
      <ul id="line5">
        <li class="line1"></li>
        <li class="line2"></li>
        <li class="line3"></li>
        <li class="line4"></li>
        <li class="line5"></li>
      </ul>
    </div>
</div>
