<div id="first" class="container">
  <div id="underground" class="book">
    <div class="metro">
      <ul class="blue-line">
        <div class="square-left"></div>
        <div class="square-right"></div>
        <li id="blue1" class="route blue"></li>
        <li id="blue2" class="route blue bend"></li>
        <li id="blue3" class="route blue"></li>
        <li id="blue4" class="route blue bend"></li>
        <li id="blue5" class="route blue"></li>
        <li id="blue6" class="route blue bend"></li>
        <li id="blue7" class="route blue"></li>
        <li id="blue8" class="route blue bend-neg"></li>
        <li id="blue9" class="route blue"></li>
        <li id="blue10" class="route blue"></li>
        <li id="blue11" class="route blue bend-neg"></li>
        <li id="blue12" class="route blue"></li>
        <li id="blue13" class="route blue bend-neg"></li>
        <li id="blue14" class="route blue"></li>
        <li id="blue15" class="route blue bend"></li>
      </ul>
      <ul class="purple-line">
        <li id="purple1" class="route purple"></li>
        <li id="purple2" class="route purple bend"></li>
        <li id="purple3" class="route purple"></li>
        <li id="purple4" class="route purple bend"></li>
        <li id="purple5" class="route purple bend-neg"></li>
      </ul>
      <ul class="black-line">
        <div class="square-left"></div>
        <div class="square-right"></div>
        <li id="black1" class="route black"></li>
        <li id="black2" class="route black bend"></li>
        <li id="black3" class="route black"></li>
        <li id="black4" class="route black bend-neg"></li>
      </ul>
      <ul class="white-line">
        <div class="square-left"></div>
        <div class="square-right"></div>
        <li id="white1" class="route white bend-neg"></li>
        <li id="white2" class="route white"></li>
      </ul>
      <ul class="green-line">
        <li id="green1" class="route green"></li>
        <li id="green2" class="route green bend-neg"></li>
        <li id="green3" class="route green"></li>
        <li id="green4" class="route green"></li>
        <li id="green5" class="route green bend-neg"></li>
        <li id="green6" class="route green"></li>
        <li id="green7" class="route green bend"></li>
        <div class="square-right"></div>
      </ul>
      <ul class="brown-line">
        <li id="brown1" class="route brown bend-neg"></li>
        <li id="brown2" class="route brown"></li>
        <li id="brown3" class="route brown bend-neg"></li>
        <li id="brown4" class="route brown"></li>
        <li id="brown5" class="route brown bend-neg"></li>
        <li id="brown6" class="route brown bend"></li>
      </ul>
      <ul class="pink-line">
        <li id="pink1" class="route pink"></li>
        <li id="pink2" class="route pink"></li>
        <li id="pink3" class="route pink"></li>
        <li id="pink4" class="route pink bend-neg"></li>
        <li id="pink5" class="route pink"></li>
      </ul>
      <ul class="red-line">
        <li id="red1" class="route red"></li>
        <li id="red2" class="route red"></li>
        <li id="red3" class="route red bend-neg"></li>
        <li id="red4" class="route red"></li>
        <li id="red5" class="route red"></li>
        <li id="red6" class="route red bend-neg"></li>
        <li id="red7" class="route red bend-neg"></li>
        <li id="red8" class="route red"></li>
        <li id="red9" class="route red bend"></li>
      </ul>
      <ul class="violet-line">
        <li id="violet1" class="route violet bend-neg"></li>
        <li id="violet2" class="route violet bend"></li>
        <li id="violet3" class="route violet"></li>
        <li id="violet4" class="route violet bend"></li>
        <li id="violet5" class="route violet"></li>
        <li id="violet6" class="route violet bend"></li>
        <li id="violet7" class="route violet"></li>
        <li id="violet8" class="route violet bend-neg"></li>
        <li id="violet9" class="route violet"></li>
        <li id="violet10" class="route violet bend"></li>
        <li id="violet11" class="route violet"></li>
        <li id="violet12" class="route violet bend-neg"></li>
        <li id="violet13" class="route violet"></li>
        <li id="violet14" class="route violet bend"></li>
      </ul>
    </div>
    <div class="title">
      <h1>Underground</h1>
    </div>
    <div class="subtitle">
      <h3>The Tokyo Gas Attack and the Japanese Psyche</h3>
    </div>
    <div class="author">
      <h1>Haruki Murakami</h1>
    </div>
  </div>
</div>
