.container {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  z-index: -1;
}

.book {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14), 0 6px 10px rgba(0, 0, 0, 0.28);
  height: $book-height;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(.5);
  width: $book-width;
}

@media screen and (min-width: 500px) {
  .book {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (max-height: 650px) {
  .book {
    transform: translate(-50%, -50%) scale(.7);
  }
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .book {
    transform: translate(-50%, -50%) scale(.5);
  }
}
