/* Book size */

$book-height: 37.5rem;
$book-width: $book-height * (2/3);
$half-height: $book-height/2;
$half-width: $book-width/2;



/* Underground related */

$black-line: #0A0A0A;
$purple-line: #E366A9;
$blue-line: #6DB7F7;
$green-line: #7EE691;
$red-line: #F51D33;
$pink-line: #F51D8D;
$brown-line: #874931;
$white-line: #fff;
$violet-line: #5c4eb1;

/* Ficciones related*/
$ficciones-color: #EEE8AA; //pale golden rod
